{% extends 'layout.html' %} {% block title %}
<!-- Title-->
<title>Testimonials</title>
{% endblock %}

<!-- Content-->
{% block content %}
<div class="container">
  <h3 class="mt-5 text-center">Stocks Referral and testimonials page</h3>
  <div class="row">
    <div class="col-sm">
      <blockquote class="twitter-tweet">
        <p lang="pt" dir="ltr">
          Seja bem-vindo. Neste espaço você pode tirar suas dúvidas, fazer
          elogios e reclamações. O que você está buscando?
          <a href="https://t.co/pjuwsB2ckm">pic.twitter.com/pjuwsB2ckm</a>
        </p>
        &mdash; Itaú Personnalité (@personnalite)
        <a
          href="https://twitter.com/personnalite/status/1133468322333384706?ref_src=twsrc%5Etfw"
          >May 28, 2019</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
    <div class="col-sm">
      <blockquote class="twitter-tweet">
        <p lang="pt" dir="ltr">
          Oi pessoal! A partir deste domingo, 01/03, nossas conversas passarão a
          acontecer através do perfil
          <a href="https://twitter.com/Bradesco?ref_src=twsrc%5Etfw"
            >@bradesco</a
          >. Siga com a gente por lá. :)
        </p>
        &mdash; Alô Bradesco (@AloBradesco)
        <a
          href="https://twitter.com/AloBradesco/status/571807080983760896?ref_src=twsrc%5Etfw"
          >February 28, 2015</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
    <div class="col-sm">
      <blockquote class="twitter-tweet">
        <p lang="pt" dir="ltr">
          <a
            href="https://twitter.com/hashtag/Bradesco?src=hash&amp;ref_src=twsrc%5Etfw"
            >#Bradesco</a
          >
          <a
            href="https://twitter.com/hashtag/itau?src=hash&amp;ref_src=twsrc%5Etfw"
            >#itau</a
          >
          <a
            href="https://twitter.com/hashtag/Caixa?src=hash&amp;ref_src=twsrc%5Etfw"
            >#Caixa</a
          >
          <a
            href="https://twitter.com/hashtag/santander_br?src=hash&amp;ref_src=twsrc%5Etfw"
            >#santander_br</a
          >
          <a
            href="https://twitter.com/hashtag/BancodoBrasil?src=hash&amp;ref_src=twsrc%5Etfw"
            >#BancodoBrasil</a
          >
          Vamos pegar esses terroristas brasileiros
          <a href="https://t.co/jBnxDmzvxg">pic.twitter.com/jBnxDmzvxg</a>
        </p>
        &mdash; Joytisq (@joytisq)
        <a
          href="https://twitter.com/joytisq/status/1342832991035396099?ref_src=twsrc%5Etfw"
          >December 26, 2020</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
  </div>
</div>
{% endblock %}
